.buy-link{
    padding: 24px 60px;
    background-color: #181414; 
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s;
    &:hover{
      transition: 0.5s;
      color: #f8a324;
      background-color: #000000;
      box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.5);
    }
    
}

 .slider-button{
    width: 55px;
    height: 55px;
    padding-top: 5px;
    background-color: #F9AF3D;
    border-radius: 27.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    .arrow {
        width: 1.25rem;
        height: 1.25rem;
        display: inline-block;
        position: relative;
        margin: 0 1rem;
      }
      .arrow span {
        top: 0.5rem;
        position: absolute;
        width: 0.75rem;
        height: 0.1rem;
        background-color: #efefef;
        display: inline-block;
        transition: all 0.2s ease;
      }
      .arrow span:first-of-type {
        left: 0;
        transform: rotate(45deg);
      }
      .arrow span:last-of-type {
        right: 0;
        transform: rotate(-45deg);
      }
      .arrow.active span:first-of-type {
        transform: rotate(-45deg);
      }
      .arrow.active span:last-of-type {
        transform: rotate(45deg);
      }
       }
