.buy-button{
    width: 325px;
    height: 83px;
    border-radius: 100px;  
    background-color: #181414; 
}
.buy-link{
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     font-size: 32px;
     line-height: 120%;
     text-align: center;
     text-transform: capitalize;
     color: #FFFFFF;
     text-decoration: none;
}