.section-wrapper{
    width:1440px;
    margin: 0 auto;
}
html{
    background: #E5E5E5;
}
.container-round-borders{
    width: 1360px;
    padding-top:61px;
    padding-bottom:61px;
    border-radius: 100px;
    margin: 0 auto;
}
.game-info{
    width: 1086px;
}