.nav-item{
.nav-link{
    padding: 7px 14px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height, or 83% */
    text-transform: uppercase;
    color: #161717;
    transition: 0.1s;
    &:hover{
        transition: 0.5s;
        background-color: #F9AF3D;
        color: #162717;
        box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.5);
    }
}}